@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[]
    {
        "Id",
        "Game Title",
        "Release Year",
        "Platform",
        "Publisher",
        "Complete Copy",
        "Physical Copy"
    };
}

<div class="table">
    <table class ="table table-border table-hover">
        <tr>
            @{ 
                foreach (var col in TableHeaders)
                {
                    <th>
                        @col
                    </th>
                }
            }
        </tr>
    </table>
</div>
